<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Git</title>
</head>
<body>
  <h1>premier git</h1>
  <p>hi everybody</p>
  <nav>
    <li>jaune
      <li>
        <li>banane</li>
      </li>
    </li>
    <li>vert
      <li>
        <li>pomme</li>
      </li>
    </li>
  </nav>

</body>
</html>
